{% use "bootstrap_3_layout.html.twig" with form_label as base_form_label %}

{%- block collection_widget -%}
    {% if allow_add is defined and allow_add %}
        {%- set attr = attr|merge({'data-allow_add': true }) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock collection_widget -%}

{% block file_widget %}
{% spaceless %}
   	{{ block('form_widget') }}
    <div class="form_image_div">
	    {% if image_url is not null %}
	        <img src="{{ asset(image_url) }}" class="form_image" />
	        {% if allow_remove %}
		    	<a href="#" class="form_image_remove">{% trans %}remove{% endtrans %}</a>
		    {% endif %}
	    {% endif %}
	</div>
{% endspaceless %}
{% endblock %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if help is defined %}
        <span class="help">{{ help|trans({},translation_domain) }}</span>
    {% endif %}
{% endblock %}