{% use "bootstrap_3_layout.html.twig" with form_label as base_form_label %}

{%- block collection_widget -%}
    {% if allow_add is defined and allow_add %}
        {%- set attr = attr|merge({'data-allow_add': true }) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock collection_widget -%}

{% block file_widget %}
{% spaceless %}
   	{{ block('form_widget') }}
    <div class="form_image_div">
	    {% if image_url is defined and image_url is not null %}
	        <img src="{{ asset(image_url) }}" class="form_image" />
	        {% if allow_remove %}
		    	<a href="#" class="form_image_remove">{% trans %}remove{% endtrans %}</a>
		    {% endif %}
	    {% endif %}
        {% if file_url is defined and file_url is not null %}
            {{ "Download"|trans() }}: <a href="/{{ file_url }}" class="form_file_download">{{ file_name }}</a>
        {% endif %}
	</div>
{% endspaceless %}
{% endblock %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if help is defined %}
        <span class="help">{{ help|trans({},translation_domain) }}</span>
    {% endif %}
{% endblock %}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {%- if attr['data-header'] is defined -%}
            {{ attr['data-header']|raw }}
        {%- endif -%}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block media_file_widget -%}
    <div>
        {% if file %}
            <img class="form-fileimage" src="/app_dev.php/media/view/{{file}}" />
            <span class="form-filename">{{filename}}</span>
            <button class="button button-default form-action-edit-file">{{"Edit file"|trans()}}</button>
        {% else %}
            <button class="button button-default form-action-add-file" type="button" data-toggle="modal" data-target="#media_modal_{{name}}">{{"Add file"|trans()}}</button>
        {% endif %}
        {% if delete and file %}
            <button class="button button-danger form-action-delete-file">{{"Delete file"|trans()}}</button>
        {% endif %}
    </div>

    <div class="modal fade media" id="media_modal_{{name}}" tabindex="1" role="dialog" data-parent="{{ parent }}" data-showdirs="false" data-allowupload="true" ng-controller="MediaController as mediaCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ "Select file"|trans({},'media') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="media-header">
                        <div class="media-action">
                            <button ng-click="mediaCtrl.tab = 'upload'" type="button" id="upload-file" class="btn-default btn btn-add" ng-hide="mediaCtrl.tab === 'upload'">Subir fichero</button>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="panel" ng-show="mediaCtrl.tab === 'files'"></div>
                        <div class="panel" ng-show="mediaCtrl.tab === 'upload'">
                            <input type="file" nv-file-select uploader="uploader"/><br/>
                            <input type="hidden" name="parent" value="{{ parent }}" ng-model="mediaCtrl.data.parent">
                            <ul>
                                <li ng-repeat="item in uploader.queue">
                                    Name: <span ng-bind="item.file.name"></span><br/>
                                    <button ng-click="item.upload()">upload</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"Close"|trans({})}}</button>
                    <button type="button" class="btn btn-primary selectBtn" id="selectBtn" ng-hide="mediaCtrl.tab === 'upload'">{{"Select file"|trans({},'media')}}</button>
                    <button type="button" class="btn btn-primary uploadBtn" id="uploadBtn" ng-show="mediaCtrl.tab === 'upload'">{{"Upload file"|trans({},'media')}}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{%- endblock media_file_widget -%}

{% block widget_attributes %}
    {{ parent() }}
    {% spaceless %}
        {% if angular is defined and angular %}ng-model="data['{{ full_name }}']" {% endif %}{# we add Angular ng-model #}
    {% endspaceless %}
{% endblock widget_attributes %}
