{% extends '::base.html.twig' %}

{% block title %}{{"Visits"|trans({},"visit")}}{% endblock %}

{% block pageTitleText %}{{"Visits"|trans({},"visit")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ProducerBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{"Date"|trans({},"visit")}}</th>
							<th>{{"Property"|trans({},"visit")}}</th>
							<th>{{"Status"|trans({},"visit")}}</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for visit in visits %}
							{% if visit.accepted %}
								{% set row = 'success' %}
								{% set title = 'Accepted' %}
							{% elseif visit.accepted is not null %}
								{% set row = 'danger' %}
								{% set title = 'Rejected' %}
							{% else %}
								{% set row = 'warning' %}
								{% set title = 'Pending' %}
							{% endif %}
							<tr>
								<td><a href="{{ path('producer_visit_edit',{"id":visit.id}) }}" title="Edit visit">{{visit.visitDate is null ? 'pending'|trans({},'visit') : visit.visitDate|date('d/m/Y')}}</a></td>
								<td>{{visit.Property}}</td>
								<td>{{title|trans({},'visit')}}</td>
								<td>
									<a href="{{ path('producer_visit_show',{"id":visit.id}) }}" class="btn btn-success">{{"show"|trans({},"table")}}</a>
									<a href="{{ path('producer_visit_edit',{"id":visit.id}) }}" class="btn btn-success">{{"edit"|trans({},"table")}}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}