{% if menu is not defined %}
    {% set menu = '' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}OpenPGS - Open Source Participatory Garanty System{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="body">
        {% block body %}
           
            {% block navbar %}
                <div class="navbar-wrapper">
                  <div class="container">

                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                      <div class="container">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="{{ path('homepage') }}">&nbsp;</a>
                        </div>
                        <div class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                            <li{% if menu == 'home' %} class="active"{% endif %}><a href="{{ path('homepage') }}">{{"Home"|trans({})}}</a></li>
                            {# <li{% if menu == 'product' %} class="active"{% endif %}><a href="{{ path('product_public_index') }}">{{"Products"|trans({},"product")}}</a></li> #}
                            <li{% if menu == 'producer' %} class="active"{% endif %}><a href="{{ path('producer_producer_index') }}">{{"Producers"|trans({},"producer")}}</a></li>
                            <li{% if menu == 'consumer' %} class="active"{% endif %}><a href="{{ path('consumer_consumer_index') }}">{{"Consumers"|trans({},"consumer")}}</a></li>
                            <li{% if menu == 'about' %} class="active"{% endif %}><a href="{{ path('page_default_index',{'path':'el_spg'}) }}">{{"The PGS"|trans({})}}</a></li>
                            <li{% if menu == 'contact' %} class="active"{% endif %}><a href="{{ path('app_contact_index') }}">{{"Contact"|trans({})}}</a></li>
                            <li{% if menu == 'documentos' %} class="active"{% endif %}><a href="{{ path('app_document_index') }}">{{"Documents"|trans({})}}</a></li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                                {% if app.user %}
                                    {% if app.user.hasRole('ROLE_MANAGER') %}
                                        <li{% if menu == 'management' %} class="active"{% endif %}><a href="{{ path('management_default_index') }}">{{ "Management"|trans({},'management') }}</a></li>
                                    {% endif %}
                                    <li{% if menu == 'account' %} class="active"{% endif %}><a href="{{ path('app_account_index') }}">{% trans %}My Account{% endtrans %}</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Log out{% endtrans %}</a></li>
                                {% else %}
                                    <li{% if menu == 'login' %} class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">{% trans %}Log in{% endtrans %}</a></li>
                                    <li{% if menu == 'register' %} class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">{% trans %}Register{% endtrans %}</a></li>
                                {% endif %}
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            {% endblock %}

            {% block pageTitle %}
                <div class="pageTitle">
                    <div class="container">
                        <h2>{% block pageTitleText %}OpenPGS - Open Source Participatory Garanty System{% endblock %}</h2>
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>
            {% endblock %}

        {% endblock %}
        </div>
        
        {% block footer %}
            <footer>
                <div class="container">
                    <p class="pull-right"><a href="#">Back to top</a></p>
                    <p><a href="{{ path('page_default_index',{'path':'legal'}) }}">{% trans %}Legal{% endtrans %}</a> &middot; <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.es_ES" target="_blank"><img src="/imgs/creative_commons.png"></a></p>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
            {% javascripts '@AppBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts
                'bundles/bazingajstranslation/js/translator.min.js'
                'js/translations/config.js'%}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
