{% extends '::base.html.twig' %}

{% block title %}{% trans from "management" %}Management{% endtrans %}{% endblock %}

{% block pageTitleText %}{% trans from "management" %}Management{% endtrans %}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="media list">
						<h3 class="media-heading text-primary-theme">{% trans from "management" %}Users{% endtrans %}</h3>
						<ul>
							<li><a href="{{ path('management_producer_index') }}">{% trans from "management" %}Producers{% endtrans %}</a></li>
							<li><a href="{{ path('management_consumer_index') }}">{% trans from "management" %}Consumers{% endtrans %}</a></li>
							<li><a href="{{ path('management_manager_index') }}">{% trans from "management" %}Manager{% endtrans %}</a></li>
							<li><a href="{{ path('management_visitgroup_index') }}">{% trans from "management" %}Visit Group{% endtrans %}</a></li>
							<li><a href="{{ path('management_guest_index') }}">{% trans from "management" %}Guests{% endtrans %}</a></li>
							<li><a href="{{ path('management_user_index') }}">{% trans from "management" %}Users{% endtrans %}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="media list">
						<h3 class="media-heading text-primary-theme">{% trans from "management" %}Related{% endtrans %}</h3>
						<ul>
							<li><a href="{{ path('management_news_index') }}">{% trans from "management" %}News{% endtrans %}</a></li>
							<li><a href="{{ path('management_property_index') }}">{% trans from "management" %}Properties{% endtrans %}</a></li>
							<li><a href="{{ path('management_stock_index') }}">{% trans from "management" %}Products/Stock{% endtrans %}</a></li>
							<li><a href="{{ path('management_visit_index') }}">{% trans from "management" %}Visits{% endtrans %}</a></li>
							<li><a href="{{ path('management_fee_index') }}">{% trans from "management" %}Fees{% endtrans %}</a></li>
							<li><a href="{{ path('management_node_edit') }}">{% trans from "management" %}Node{% endtrans %}</a></li>
							<li><a href="{{ path('management_page_index') }}">{% trans from "management" %}Pages{% endtrans %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}