{% extends '::base.html.twig' %}

{% block title %}{{"Edit user"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Edit user"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
    	{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
		<div class="action-buttons">
			{% if not user.hasRole('ROLE_CONSUMER') or user.Consumer is null %}
				<a href="{{ path('management_user_makeconsumer', {"id": user.id}) }}" class="btn btn-success btn-makeConsumer">{{"Make consumer"|trans({},"consumer")}}</a>
			{% endif %}
			{% if not user.hasRole('ROLE_PRODUCER')  or user.Producer is null %}
				<a href="{{ path('management_user_makeproducer', {"id": user.id}) }}" class="btn btn-success btn-makeProducer">{{"Make producer"|trans({},"producer")}}</a>
			{% endif %}
			{% if not user.hasRole('ROLE_MANAGEMENT') %}
				<a href="{{ path('management_user_makemanager', {"id": user.id}) }}" class="btn btn-success btn-makeManager">{{"Make manager"|trans({},"management")}}</a>
			{% endif %}
		</div>
	    {{ form_start(form) }}
			{{ form_errors(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'management' }) }}"></script>
	{% javascripts
        'bundles/management/js/edit.js'
        'bundles/app/js/forms.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}