{% extends '::base.html.twig' %}

{% block title %}{{"Media"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Media"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container" id="media-container">
			{% for type, messages in app.session.flashbag.all() %}
				{% for message in messages %}
					<div class="alert alert-{{ type }}">{{ message }}</div>
				{% endfor %}
			{% endfor %}
			<div class="media-header">
				<div class="media-path">
					{{"Path"|trans({},'media')}}: <span id="media-path">/</span> 
					<button type="button" class="btn btn-default btn-xs" id="level-up" aria-label="{{"Level up"|trans({},'media')}}">
						<span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
					</button>
				</div>
				<div class="media-action">
					<button class="btn-default btn btn-add" id="upload-file" type="button" data-toggle="modal" data-target="#upload_modal">{{"Upload file"|trans({},'media')}}</button>
					<button class="btn-default btn btn-createDir" id="create-dir" type="button" data-toggle="modal" data-target="#createdir_modal">{{"Create directory"|trans({},'media')}}</button>
				</div>
			</div>
			{% for item in media %}
				<div class="media-item" data-type="{{ item.type }}" data-filename="{{ item.filename }}" data-id="{{ item.id }}">
					<div class="media-img">
						<img src="{% if app.environment == 'dev' %}/app_dev.php{% endif %}/media/view/{{ item.slug }}" alt="{{ item.title }}" />
					</div>
					<span class="media-name">{{ item.title }}</span>
				</div>
			{% else %}
				<span class="media-noContent">{{ "No media available"|trans({},'media') }}</span>
			{% endfor %}
		</div>
	</div>

	<div class="modal fade" id="upload_modal" tabindex="1" role="dialog">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">{{ "Upload file"|trans({},'media') }}</h4>
		      	</div>
		      	<div class="modal-body">
		      		{{ form_start(uploadForm) }}
						{{ form_errors(uploadForm) }}
					{{ form_end(uploadForm) }}
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">{{"Close"|trans({})}}</button>
		        	<button type="button" class="btn btn-primary saveBtn" id="uploadBtn">{{"Upload file"|trans({},'media')}}</button>
		      	</div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="createdir_modal" tabindex="2" role="dialog">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">{{ "Create directory"|trans({},'media') }}</h4>
		      	</div>
		      	<div class="modal-body">
		      		{{ form_start(createDirForm) }}
						{{ form_errors(createDirForm) }}
					{{ form_end(createDirForm) }}
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">{{"Close"|trans({})}}</button>
		        	<button type="button" class="btn btn-primary saveBtn" id="createDirBtn">{{"Create directory"|trans({},'media')}}</button>
		      	</div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/media/css/media.css' 
				filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'media' }) }}"></script>
		{% javascripts
        'bundles/media/js/media.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}