{% extends '::base.html.twig' %}

{% block title %}{{"Guests"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Guests"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			{% for type, messages in app.session.flashbag.all() %}
				{% for message in messages %}
					<div class="alert alert-{{ type }}">{{ message }}</div>
				{% endfor %}
			{% endfor %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{"Name"|trans({},"user")}}</th>
						<th>{{"Surname"|trans({},"user")}}</th>
						<th>{{"Phone"|trans({},"user")}}</th>
						<th>{{"Email"|trans({},"user")}}</th>
						<th><a href="{{ path('management_guest_add') }}" class="btn btn-success">{{"Add"|trans({},"table")}}</a></th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{user.name}}</td>
							<td>{{user.surname}}</td>
							<td>{{user.phone}}</td>
							<td>{% if user.email %}<a href="mailto:{{user.email}}"{{user.email}}></a>{% else %}&nbsp;{% endif %}</td>
							<td>
								<a href="{{ path('management_guest_edit', {"id":user.id}) }}" class="btn btn-success">{{"edit"|trans({},"table")}}</a>
								<a href="{{ path('management_guest_delete', {"id":user.id}) }}" class="btn btn-danger">{{"remove"|trans({},"table")}}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}