{% extends '::base.html.twig' %}

{% block title %}{{"Property"|trans({},"property")}}{% endblock %}

{% block pageTitleText %}{{"Property"|trans({},"property")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ProducerBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
			    {{ form_start(form) }}
					{{ form_errors(form) }}
					<fieldset>
						<legend>{{"Property data"|trans({},"property")}}</legend>
						{{ form_row(form.name) }}
						{{ form_row(form.areaName) }}
						{{ form_row(form.address) }}
						{{ form_row(form.regNr) }}
						{{ form_row(form.tenure) }}
						{{ form_row(form.size) }}
					</fieldset>
					<fieldset>
						<legend>{{"General information"|trans({},"property")}}</legend>
						{{ form_row(form.previousUses) }}
						{{ form_row(form.waterTypeOrigin) }}
						{{ form_row(form.crops) }}
						{{ form_row(form.certified) }}
						{{ form_row(form.certifiedYears) }}
						{{ form_row(form.certifiedProvider) }}
						{{ form_row(form.lastAgroquimicUsage) }}
						{{ form_row(form.fertilizer) }}
						{{ form_row(form.phytosanitary) }}
						{{ form_row(form.ownerLivesHere) }}
						{{ form_row(form.ownerDistance) }}
						{{ form_row(form.workforce) }}
					</fieldset>
					<fieldset>
						<legend>{{"Products"|trans({},"property")}}</legend>
						{{ form_row(form.productSellingDistance) }}
						{{ form_row(form.productSellingTime) }}
						{{ form_row(form.productConservation) }}
						{{ form_row(form.productConservationDetails) }}
					</fieldset>
					<fieldset>
						<legend>{{"Environment data"|trans({},"property")}}</legend>
						{{ form_row(form.surroundings) }}
						{{ form_row(form.surroundingProblems) }}
					</fieldset>
					<div class="form-group">
						<button class="btn-default btn" name="profile[save]" id="profile_save" type="submit">{{"Save"|trans()}}</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/producer/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}