{% extends '::base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block pageTitleText %}{{"Properties"|trans({},"property")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{"Name"|trans({},"property")}}</th>
						<th>{{"Area"|trans({},"property")}}</th>
						<th>{{"Address"|trans({},"property")}}</th>
						<th><a href="{{ path('producer_property_add') }}" class="btn btn-default">{{"Add"|trans({},"table")}}</a></th>
					</tr>
				</thead>
				<tbody>
					{% for property in properties %}
						<tr>
							<td>{{property.name}}</td>
							<td>{{property.areaName}}</td>
							<td>{{property.address}}</td>
							<td><a href="{{ path('producer_property_edit', {"id":property.id}) }}" class="btn btn-default">{{"edit"|trans({},"table")}}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}