{% extends '::base.html.twig' %}

{% block title %}{{"ProducerP"|trans({},"producer")}}{% endblock %}

{% block pageTitleText %}{{"ProducerP"|trans({},"producer")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{"Name"|trans({},"producer")}}</th>
						<th>{{"Surname"|trans({},"producer")}}</th>
						<th>{{"Phone"|trans({},"producer")}}</th>
						<th>{{"Node"|trans({},"producer")}}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for producer in producers %}
						<tr>
							<td>{{producer.User.name}}</td>
							<td>{{producer.User.surname}}</td>
							<td>{{producer.User.phone}}</td>
							<td>{{producer.User.Node}}</td>
							<td>
								<a href="{{ path('producer_contact_index', {"from":"producer_producer_index", "producer_id":producer.id}) }}" title="Contactar productor"><span class="glyphicon glyphicon-envelope action contactProducer" aria-hidden="true"></span></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/producer/css/styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}