{% extends '::base.html.twig' %}

{% block title %}{{ producer.User.name }}{% endblock %}

{% block pageTitleText %}{{ producer.User.name }}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">Ficha del propietario</h2>
		<div class="row">
			{% if producer.User.webPath %}	
				<div class="col-lg-3">
					<img src="/{{ producer.User.webPath }}" class="profileImage">
				</div>
			{% endif %}
			<div class="col-lg-9">
				<div class="row row-underline">
					<div class="col-lg-3">{{"Name"|trans({},'producer')}}:</div>
					<div class="col-lg-9">{{ producer.User.name }} {{ producer.User.surname }}</a></div>
				</div>
				{% if app.user and (app.user.hasRole('ROLE_MANAGEMENT') or app.user.hasRole('ROLE_PRODUCER') or app.user.hasRole('ROLE_CONSUMER')) and app.user.isEnabled() %}
					<div class="row row-underline">
						<div class="col-lg-3">{{"Email"|trans({},'producer')}}:</div>
						<div class="col-lg-9"><a href="mailto:{{ producer.User.email }}">{{ producer.User.email }}</a></div>
					</div>
					<div class="row row-underline">
						<div class="col-lg-3">{{"Phone"|trans({},'user')}}:</div>
						<div class="col-lg-9">{{ producer.User.phone }}</div>
					</div>
				{% endif %}
				<h3 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">Propiedades</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{"Name"|trans({},"property")}}</th>
							<th>{{"Area"|trans({},"property")}}</th>
							<th>{{"Address"|trans({},"property")}}</th>
							<th>{{"Last Visit"|trans({},"property")}}</th>
						</tr>
					</thead>
					<tbody>
						{% for property in properties %}
							<tr>
								<td><a href="{{ path('producer_publicproperty_show',{'id':property.id}) }}">{{property.name}}</a></td>
								<td>{{property.areaName}}</td>
								<td>{{property.address}}</td>
								{% if property.Visits|length %}
									{% if property.Visits.0.visitDate is null %}
										{% set visitDate = '--' %}
									{% else %}
										{% set visitDate = property.Visits.0.visitDate|date('d/m/Y') %}
									{% endif %}
								{% else %}
									{% set visitDate = '--' %}
								{% endif %}
								<td>{{ visitDate }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/producer/css/producer.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}