{% extends '::base.html.twig' %}

{% block title %}{{"Stock"|trans({},"stock")}}{% endblock %}

{% block pageTitleText %}{{"Stock"|trans({},"stock")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
	    {{ form_start(form) }}
			{{ form_errors(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/producer/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'stock' }) }}"></script>
{% endblock %}