{% extends '::base.html.twig' %}

{% block title %}{{"Edit news"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Edit news"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ManagementBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
			    <div class="action-buttons">
					<a href="{{ path('management_newstag_add') }}" class="btn btn-success btn-add">{{"New tag"|trans({},"management")}}</a>
					<a href="{{ path('management_news_add') }}" class="btn btn-success btn-add">{{"New news"|trans({},"management")}}</a>
				</div>
				{% for type, messages in app.session.flashbag.all() %}
					{% for message in messages %}
						<div class="alert alert-{{ type }}">{{ message }}</div>
					{% endfor %}
				{% endfor %}
			    {{ form_start(form) }}
					{{ form_errors(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css'
					'bundles/app/css/form.css' 
				filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'management' }) }}"></script>
	{% javascripts
        'bundles/management/js/edit.js'
        'bundles/app/js/forms.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}