{% extends '::base.html.twig' %}

{% block title %}{{"Add producer"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Add producer"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
	    {{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.Member) }}
			{{ form_row(form.phone) }}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}