{% extends '::base.html.twig' %}

{% block title %}{{"Edit stock"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Edit stock"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
	    {{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.Product) }}
			{{ form_row(form.amount) }}
			{{ form_row(form.price) }}
			{{ form_row(form.unit) }}
			{{ form_row(form.caduce) }}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css'
					'bundles/app/css/form.css' 
				filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'management' }) }}"></script>
	<script src="{{ asset('bundles/management/js/edit.js') }}" type="text/javascript"></script>
{% endblock %}