{% extends '::base.html.twig' %}

{% block title %}{{"Stock"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Stock"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ManagementBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
				<div class="filter">
					<form method="post">
						{{"Filter"|trans()}}: 
						<select name="filter[producer]">
							{% set filter = app.request.request.get('filter')|default({"producer":0}) %}
							<option value="">{{"All"|trans()}}</option>
							{% for producer in producers %}
								<option value="{{producer.id}}"{% if filter.producer == producer.id %} selected="selected"{% endif %}>{{producer.name}} {{producer.surname}}</option>
							{% endfor %}
						</select>
						<input type="submit" value="{{"Apply"|trans()}}" />
					</form>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{"Product"|trans({},"stock")}}</th>
							<th>{{"Producer"|trans({},"stock")}}</th>
							<th>{{"Amount"|trans({},"stock")}}</th>
							<th>{{"Price"|trans({},"stock")}}</th>
							<th>
								<a href="{{ path('management_stock_add') }}" class="btn btn-success">{{"Add stock"|trans({},"management")}}</a>
								<a href="{{ path('management_product_add') }}" class="btn btn-success">{{"Add product"|trans({},"management")}}</a>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{product.Product}}</td>
								<td>{{product.Producer}}</td>
								<td>{{product.amount}} {{product.unit}}</td>
								<td>{{product.price}} EUR/{{product.unit}}</td>
								<td><a href="{{ path('management_stock_edit', {"id":product.id}) }}" class="btn btn-success">{{"edit"|trans({},"table")}}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}