{% extends '::base.html.twig' %}

{% block title %}{% trans from "producer" %}Producers{% endtrans %}{% endblock %}

{% block pageTitleText %}{% trans from "producer" %}Producers{% endtrans %}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="media list">
						<h3 class="media-heading text-primary-theme">{% trans from "producer" %}My Data{% endtrans %}</h3>
						<ul>
							<li><a href="{{ path('producer_member_profile') }}">{% trans from "producer" %}Profile{% endtrans %}</a></li>
							<li><a href="{{ path('producer_property_index') }}">{% trans from "producer" %}Properties{% endtrans %}</a></li>
							<li><a href="{{ path('producer_stock_index') }}">{% trans from "producer" %}Products/Stock{% endtrans %}</a></li>
							<li><a href="{{ path('producer_visit_index') }}">{% trans from "producer" %}Visits{% endtrans %}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="media list">
						<h3 class="media-heading text-danger-theme">{% trans from "producer" %}Communication{% endtrans %}</h3>
						<ul>
							<li><a href="#">{% trans from "producer" %}Messages{% endtrans %}</a></li>
							<li><a href="#">{% trans from "producer" %}Enquiries{% endtrans %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}