{% extends '::base.html.twig' %}

{% block title %}Producers{% endblock %}

{% block pageTitleText %}{{"Profile"|trans({},"producer")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
	    {{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.Member) }}
			{{ form_row(form.phone) }}
    		{{ form_row(form.Properties) }}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/producer/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		var $collectionHolder;

		// setup an "add a tag" link
		var $addPropertyLink = $('<a href="#" class="add_property_link form_add_item_link">{{"Add property"|trans({}, "property")}}</a>');
		var $newLinkLi = $addPropertyLink;

		jQuery(document).ready(function() {
		    // Get the ul that holds the collection of tags
		    $collectionHolder = $('#profile_Properties');

		    // add the "add a tag" anchor and li to the tags ul
		    $collectionHolder.append($newLinkLi);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    $collectionHolder.data('index', $collectionHolder.find(':input').length);

		    $addPropertyLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new tag form (see next code block)
		        addPropertyForm($collectionHolder, $newLinkLi);
		    });

		    $('#profile_Properties > .form-group').each(function(index){
		    	$(this).find('label').first().text($(this).find('.propertyName').val());
		    });
		});

		function addPropertyForm($collectionHolder, $newLinkLi) {
		    // Get the data-prototype explained earlier
		    var prototype = $collectionHolder.data('prototype');

		    // get the new index
		    var index = $collectionHolder.data('index');

		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);

		    // increase the index with one for the next item
		    $collectionHolder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = newForm;
		    $newLinkLi.before($newFormLi);

		    var $subform = $($newLinkLi).prev('div.form-group');
		    $formLabel = $subform.find('label').first();
		    $formLabel.text('{{"Property"|trans({},"property")}} '+(index+1));
		    $('#'+"profile_Properties_index_name".replace(/index/, index)).on('change', function(e){
		    	$formLabel.text($(e.currentTarget).val());
		    })
		}

	</script>
{% endblock %}