{% extends '::base.html.twig' %}

{% block title %}{{"Registration"|trans({},"producer")}}{% endblock %}

{% block pageTitleText %}{{"Registration"|trans({},"producer")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container registration">
	    {{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.User) }}
    		{# {{ form_row(form.Properties) }} #}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'bundles/producer/css/*' 
		'bundles/management/css/edit.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'producer' }) }}"></script>
	{% javascripts
        'bundles/producer/js/*'
        'bundles/management/js/edit.js'
       	%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}