{% extends '::base.html.twig' %}

{% block title %}{% trans from "consumer" %}Dashboard{% endtrans %}{% endblock %}

{% block pageTitleText %}{% trans from "consumer" %}Dashboard{% endtrans %}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="media list">
						<h3 class="media-heading text-primary-theme">{% trans from "consumer" %}My Data{% endtrans %}</h3>
						<ul>
							<li><a href="{{ path('consumer_member_profile') }}">{% trans from "consumer" %}Profile{% endtrans %}</a></li>
							<li><a href="{{ path('consumer_visit_index') }}">{% trans from "consumer" %}Visits{% endtrans %}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="media list">
						<h3 class="media-heading text-danger-theme">{% trans from "consumer" %}Communication{% endtrans %}</h3>
						<ul>
							<li><a href="{{ path('consumer_contact_index') }}">{% trans from "consumer" %}Messages{% endtrans %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}