{% extends '::base.html.twig' %}

{% block title %}{{"Profile"|trans({},"consumer")}}{% endblock %}

{% block pageTitleText %}{{"Profile"|trans({},"consumer")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ConsumerBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
			    {{ form_start(form) }}
					{{ form_errors(form) }}
					{{ form_row(form.User) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/consumer/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}