{% extends '::base.html.twig' %}

{% block title %}{{"Visits"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Visits"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<div class="filter">
				<form method="get">
					{{"Filter"|trans()}}: 
					{% set filter = app.request.get('filter')|default({"producer":0,"property":0}) %}
					{% if filter.producer is not defined %}
						{% set filter = filter|merge({"producer":0}) %}
					{% endif %}
					<select name="filter[producer]">
						<option value="">{{"Producer"|trans({},"management")}}</option>
						{% for producer in producers %}
							<option value="{{producer.id}}"{% if filter.producer == producer.id %} selected="selected"{% endif %}>{{producer.name}} {{producer.surname}}</option>
						{% endfor %}
					</select>
					{% if filter.property is not defined %}
						{% set filter = filter|merge({"property":0}) %}
					{% endif %}
					<select name="filter[property]">
						<option value="">{{"Property"|trans({},"management")}}</option>
						{% for property in properties %}
							<option value="{{property.id}}"{% if filter.property == property.id %} selected="selected"{% endif %}>{{property.name}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="{{"Apply"|trans()}}" />
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{"Producer"|trans({},"visit")}}</th>
						<th>{{"Property"|trans({},"visit")}}</th>
						<th>{{"Date"|trans({},"visit")}}</th>
						<th><a href="{{ path('management_visit_add') }}" class="btn btn-default">{{"Add"|trans({},"table")}}</a></th>
					</tr>
				</thead>
				<tbody>
					{% for visit in visits %}
						<tr class="row-{% if visit.accepted %}success{% elseif visit.accepted == false %}danger{% endif %}">
							<td>{{visit.Producer}}</td>
							<td>{{visit.Property.name}}</td>
							<td>{{visit.visitDate|date('d/m/Y')}}</td>
							<td><a href="{{ path('management_visit_edit', {"id":visit.id}) }}" class="btn btn-success">{{"edit"|trans({},"table")}}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/app/css/table.css' 
				filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}