{% extends '::base.html.twig' %}

{% block title %}{{"Visits"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Visits"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{"Producer"|trans({},"visit")}}</th>
						<th>{{"Property"|trans({},"visit")}}</th>
						<th>{{"Date"|trans({},"visit")}}</th>
						<th><a href="{{ path('management_visit_add') }}" class="btn btn-default">{{"Add"|trans({},"table")}}</a></th>
					</tr>
				</thead>
				<tbody>
					{% for visit in visits %}
						<tr class="row-{% if visit.accepted %}success{% elseif visit.accepted == false %}danger{% endif %}">
							<td>{{visit.Producer}}</td>
							<td>{{visit.Property.name}}</td>
							<td>{{visit.visitDate|date('d/m/Y')}}</td>
							<td><a href="{{ path('management_visit_edit', {"id":visit.id}) }}" class="btn btn-default">{{"edit"|trans({},"table")}}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/app/css/table.css' 
				filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}