{% extends '::base.html.twig' %}

{% block title %}{{"Consumers"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Consumers"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="highlightSection">
		<div class="container">
			{% for type, messages in app.session.flashbag.all() %}
				{% for message in messages %}
					<div class="alert alert-{{ type }}">{{ message }}</div>
				{% endfor %}
			{% endfor %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{"Name"|trans({},"consumer")}}</th>
						<th>{{"Surname"|trans({},"consumer")}}</th>
						<th>{{"Phone"|trans({},"consumer")}}</th>
						<th><a href="{{ path('management_consumer_add') }}" class="btn btn-default">{{"Add"|trans({},"table")}}</a></th>
					</tr>
				</thead>
				<tbody>
					{% for consumer in consumers %}
						<tr>
							<td>{{consumer.name}}</td>
							<td>{{consumer.surname}}</td>
							<td>{{consumer.phone}}</td>
							<td>
								<a href="{{ path('management_consumer_edit', {"id":consumer.Consumer.id}) }}" class="btn btn-default">{{"edit"|trans({},"table")}}</a>
								<a href="{{ path('management_consumer_remove', {"id":consumer.id}) }}" class="btn btn-danger">{{"remove"|trans({},"table")}}</a></td>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'management' }) }}"></script>
	<script src="{{ asset('bundles/management/js/edit.js') }}" type="text/javascript"></script>
{% endblock %}