{% extends '::base.html.twig' %}

{% block title %}{{"Add product"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Add product"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ManagementBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0">
				<div class="action-buttons">
					<a href="{{ path('management_product_add') }}" class="btn btn-success btn-add">{{"New product"|trans({},"management")}}</a>
				</div>
			</div>
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
			    {{ form_start(form) }}
					{{ form_errors(form) }}
					{{ form_row(form.Group) }}
					{{ form_row(form.Family) }}
					{{ form_row(form.Variety) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	<div id="add-group-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{"Add group"|trans({},"management")}}</h4>
				</div>
				<div class="modal-body">
					{{ form_start(group_form) }}
						{{ form_errors(group_form) }}
					{{ form_end(group_form) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"Close"|trans({},"messages")}}</button>
					<button id="add_group_submit" type="button" class="btn btn-primary">{{"Save"|trans({},"messages")}}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="add-family-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{"Add family"|trans({},"management")}}</h4>
				</div>
				<div class="modal-body">
					{{ form_start(family_form) }}
						{{ form_errors(family_form) }}
					{{ form_end(family_form) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"Close"|trans({},"messages")}}</button>
					<button id="add_family_submit" type="button" class="btn btn-primary">{{"Save"|trans({},"messages")}}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css'
					'bundles/app/css/form.css' 
				filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'management' }) }}"></script>
	{% javascripts
        'bundles/management/js/group.js'
        'bundles/management/js/family.js'
        'bundles/management/js/edit.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}