{% extends '::base.html.twig' %}

{% block title %}Red Agroecológica Alpujarra/Costa{% endblock %}

{% block body %}

	{{ parent() }}

	{% block pageTitle %}{% endblock %}

    <div id="mainCarousel">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    	<div class="carousel-inner">
	        	<div class="item active">
					<div id="googleMap" style="height:450px;"></div>
				  	<div class="container">
						<div class="carousel-caption">
						</div>
				  	</div>
				</div>
			</div>
		</div><!-- /.carousel -->
	</div>

	<div class="mainTitle">
		<div class="container">
			<h1>Red Agroecológica Alpujarra/Costa</h1>
			<p>
				El SPG "Red Agroecológica Alpujarra/Costa" ofrece una certificación ecológica alternativa a la convencional, apoyándose en la participación de quienes producen y consumen productos agroecológicos, artesanales y sostenibles hechos localmente. A través de este sistema, las personas que se dedican a la agricultura y la artesanía, las asociaciones de consumo, las tiendas locales y particulares en general se benefician de un proyecto que busca un cambio en los actuales modelos de producción, consumo y distribución, basado en la confianza y la participación. 
			</p>
		</div>
	</div>

	{% if news|length %}
	    <div class="container news">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	      	<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"News"|trans({},'news')}}</h2>
	      </div><!-- /.row -->
	      {% for new in news %}
	      	<div class="row">
	      		<div class="col-lg-12"><h4>{{new.title}}</h4></div>
	      	</div>
	      	<div class="row">
	      		<div class="col-lg-12">{{new.content|nl2br}}</div>
	      	</div>
	      	<div class="row">
	      		<div class="col-lg-12">&nbsp;</div>
	      	</div>
	      	<div class="row">
	      		<div class="col-lg-4 smaller">{{"created.by.at"|trans({"%by%":new.createdBy,"%at%":new.createdAt|date('d/m/Y H:i')},'news')}}</div>
	      		<div class="col-lg-4 smaller">{{"Tags"|trans({},'news')}}: {% for tag in new.Tags %}{% if loop.index0 %}, {% endif %}{{tag.name}}{% endfor %}</div>
	      	</div>
	      {% endfor %}
		</div>
	{% endif %}

    {% if products|length %}
	    <div class="container marketing">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	      	<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"Products"|trans({},'product')}}</h2>
	        	<table class="table">
					<thead>
						<tr>
							<th>{{"Product"|trans({},'stock')}}</th>
							<th>{{"Producer"|trans({},'stock')}}</th>
							<th>{{"Amount"|trans({},'stock')}}</th>
							<th>{{"Price"|trans({},'stock')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{product.Product.name}}</td>
								<td><a href="{{ path('producer_producer_show',{"id":product.Producer.id}) }}">{{product.Producer}}</a></td>
								<td>{{product.amount}}{{product.unit}}</td>
								<td>{{product.price}} EUR/{{product.unit}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
	      </div><!-- /.row -->
		</div>
	{% endif %}

	{% if upcomingVisits|length %}
		<div class="container">
			<div class="row">
				<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"Upcoming visits"|trans({},'visit')}}</h2>
				<table class="table">
					<thead>
						<tr>
							<th>{{"Producer"|trans({},'visit')}}</th>
							<th>{{"Property"|trans({},'visit')}}</th>
							<th>{{"Visit date"|trans({},'visit')}}</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for visit in upcomingVisits %}
							<tr>
								<td><a href="{{ path('producer_producer_show',{"id":visit.Producer.id}) }}" title="Ver ficha del productor">{{visit.Producer}}</a></td>
								<td><a href="{{ path('producer_publicproperty_show',{"id":visit.Property.id}) }}" title="Ver ficha de la propiedad">{{visit.Property.name}}</a></td>
								<td><a href="{{ path('producer_visitpublic_show',{"id":visit.id}) }}" title="Ver ficha de la visita">{{visit.visitDate is null ? 'pending'|trans({},'visit') : visit.visitDate|date('d/m/Y')}}</a></td>
								<td>
									{% if app.user and not visit.isParticipant(app.user) %}
										<a class="btn btn-success" href="{{ path('producer_visit_signmeup',{"id":visit.id}) }}">{{"Sign me up"|trans({},'visit')}}</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	<script	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>
	<script type="text/javascript">
		var myCenter=new google.maps.LatLng(36.892011,-3.245017);
		{% for node in nodes %}
			{% if node.Location is not null %}
				var pointer{{node.id}} = new google.maps.LatLng({{node.Location.latitude}},{{node.Location.longitude}});
			{% endif %}
		{% endfor %}
		var marker;
		function initialize()
		{
			var mapProp = {
			  center:myCenter,
			  zoom:10,
			  mapTypeId:google.maps.MapTypeId.ROADMAP
			  };
			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			{% for node in nodes %}
				{% if node.Location is not null %}
					marker{{node.id}}=new google.maps.Marker({
					  position:pointer{{node.id}}
					});
					marker{{node.id}}.setMap(map);
					var infowindow{{node.id}} = new google.maps.InfoWindow({
					  content:"{{node.name}}"
					});
					google.maps.event.addListener(marker{{node.id}}, 'click', function() {
					  infowindow{{node.id}}.open(map,marker{{node.id}});
					});
					infowindow{{node.id}}.open(map,marker{{node.id}});
				{% endif %}
			{% endfor %}
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}