{% extends '::base.html.twig' %}

{% block title %}Red Agroecológica Alpujarra/Costa{% endblock %}

{% block body %}

	{{ parent() }}

	{% block pageTitle %}{% endblock %}

    <div id="mainCarousel">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    	<div class="carousel-inner">
	        	<div class="item active">
					<div id="googleMap" style="height:450px;"></div>
				  	<div class="container">
						<div class="carousel-caption">
						</div>
				  	</div>
				</div>
			</div>
		</div><!-- /.carousel -->
	</div>

	<div class="mainTitle">
		<div class="container">
			<h1>Red Agroecológica Alpujarra/Costa</h1>
			<p>
				El SPG "Red Agroecológica Alpujarra/Costa" ofrece una certificación ecológica alternativa a la convencional, apoyándose en la participación de quienes producen y consumen productos agroecológicos, artesanales y sostenibles hechos localmente. A través de este sistema, las personas que se dedican a la agricultura y la artesanía, las asociaciones de consumo, las tiendas locales y particulares en general se benefician de un proyecto que busca un cambio en los actuales modelos de producción, consumo y distribución, basado en la confianza y la participación. 
			</p>
		</div>
	</div>

	{% if news|length %}
	    <div class="container news">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	      	<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"News"|trans({},'news')}}</h2>
	      </div><!-- /.row -->
	      {% for new in news %}
	      	<div class="row">
	      		<div class="col-lg-12"><h4>{{new.title}}</h4></div>
	      	</div>
	      	<div class="row">
	      		<div class="col-lg-12">{{new.content|nl2br}}</div>
	      	</div>
	      	<div class="row">
	      		<div class="col-lg-12">&nbsp;</div>
	      	</div>
	      	<div class="row">
	      		<div class="col-lg-4 smaller">{{"created.by.at"|trans({"%by%":new.createdBy,"%at%":new.createdAt|date('d/m/Y H:i')},'news')}}</div>
	      		<div class="col-lg-4 smaller">{{"Tags"|trans({},'news')}}: {% for tag in new.Tags %}{% if loop.index0 %}, {% endif %}{{tag.name}}{% endfor %}</div>
	      	</div>
	      {% endfor %}
		</div>
	{% endif %}

    {% if products|length %}
	    <div class="container marketing">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	      	<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"Products"|trans({},'product')}}</h2>
	        	<table class="table">
					<thead>
						<tr>
							<th>{{"Product"|trans({},'stock')}}</th>
							<th>{{"Producer"|trans({},'stock')}}</th>
							<th>{{"Amount"|trans({},'stock')}}</th>
							<th>{{"Price"|trans({},'stock')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{product.Product.name}}</td>
								<td><a href="{{ path('producer_producer_show',{"id":product.Producer.id}) }}">{{product.Producer}}</a></td>
								<td>{{product.amount}}{{product.unit}}</td>
								<td>{{product.price}} EUR/{{product.unit}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
	      </div><!-- /.row -->
		</div>
	{% endif %}

	{% if pendingApprovalVisits|length %}
		<div class="container">
			<div class="row">
				<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"Visits pending approval"|trans({},'visit')}}</h2>
				<table class="table">
					<thead>
						<tr>
							<th>{{"Producer"|trans({},'visit')}}</th>
							<th>{{"Property"|trans({},'visit')}}</th>
							<th>{{"Visit date"|trans({},'visit')}}</th>
							<th>{{"Will be accepted automatically on"|trans({},'visit')}}</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for visit in pendingApprovalVisits %}
							<tr>
								<td><a href="{{ path('producer_producer_show',{"id":visit.Producer.id}) }}" title="Ver ficha del productor">{{visit.Producer}}</a></td>
								<td><a href="{{ path('producer_publicproperty_show',{"id":visit.Property.id}) }}" title="Ver ficha de la propiedad">{{visit.Property.name}}</a></td>
								<td><a href="{{ path('producer_visitpublic_show',{"id":visit.id}) }}" title="Ver ficha de la visita">{{visit.visitDate is null ? 'pending'|trans({},'visit') : visit.visitDate|date('d/m/Y')}}</a></td>
								<td><a href="{{ path('producer_visitpublic_rejectapproval',{"id":visit.id}) }}" title="{{ "Reject approval"|trans({},'visit') }}">{{visit.visitDate|date_modify('+14 day')|date('d/m/Y')}}</a></td>
								<td>
									{% if app.user %}
										<a class="btn btn-danger" href="{{ path('producer_visitpublic_rejectapproval',{"id":visit.id}) }}">{{"Reject approval"|trans({},'visit')}}</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	{% if upcomingVisits|length %}
		<div class="container">
			<div class="row">
				<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"Upcoming visits"|trans({},'visit')}}</h2>
				<table class="table">
					<thead>
						<tr>
							<th>{{"Producer"|trans({},'visit')}}</th>
							<th>{{"Property"|trans({},'visit')}}</th>
							<th>{{"Visit date"|trans({},'visit')}}</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for visit in upcomingVisits %}
							<tr>
								<td><a href="{{ path('producer_producer_show',{"id":visit.Producer.id}) }}" title="Ver ficha del productor">{{visit.Producer}}</a></td>
								<td><a href="{{ path('producer_publicproperty_show',{"id":visit.Property.id}) }}" title="Ver ficha de la propiedad">{{visit.Property.name}}</a></td>
								<td><a href="{{ path('producer_visitpublic_show',{"id":visit.id}) }}" title="Ver ficha de la visita">{{visit.visitDate is null ? 'pending'|trans({},'visit') : visit.visitDate|date('d/m/Y')}}</a></td>
								<td>
									{% if app.user and not visit.isParticipant(app.user) and not visit.isOwner(app.user) %}
										<a class="btn btn-success" href="{{ path('producer_visit_signmeup',{"id":visit.id}) }}">{{"Sign me up"|trans({},'visit')}}</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	{% if latestVisits|length %}
		<div class="container">
			<div class="row">
				<h2 style="text-align:center;font-weight:bold;border-bottom:1px solid #ccc;margin-bottom:30px;">{{"Latest visits"|trans({},'visit')}}</h2>
				<table class="table">
					<thead>
						<tr>
							<th>{{"Producer"|trans({},'visit')}}</th>
							<th>{{"Property"|trans({},'visit')}}</th>
							<th>{{"Visit date"|trans({},'visit')}}</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for visit in latestVisits %}
							<tr>
								<td><a href="{{ path('producer_producer_show',{"id":visit.Producer.id}) }}" title="Ver ficha del productor">{{visit.Producer}}</a></td>
								<td><a href="{{ path('producer_publicproperty_show',{"id":visit.Property.id}) }}" title="Ver ficha de la propiedad">{{visit.Property.name}}</a></td>
								<td><a href="{{ path('producer_visitpublic_show',{"id":visit.id}) }}" title="Ver ficha de la visita">{{visit.visitDate is null ? 'pending'|trans({},'visit') : visit.visitDate|date('d/m/Y')}}</a></td>
								<td>&nbsp;</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	{% javascripts
        'bundles/location/js/Leaflet.Spain.WMS.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	<script type="text/javascript">
		var GProperties = new L.LayerGroup();
		// @see https://github.com/pointhi/leaflet-color-markers for details about markers
		var redIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});
		var greenIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});
		{% for property in properties %}
			{% if property.Location is not null %}
				L.marker([{{property.Location.latitude}}, {{property.Location.longitude}}], {icon: greenIcon})
					.addTo(GProperties)
					.bindPopup("{{property.name}}")
			{% endif %}
		{% endfor %}
		var GGroups = new L.LayerGroup();
		{% for node in nodes %}
			{% if node.Location is not null %}
				L.marker([{{node.Location.latitude}}, {{node.Location.longitude}}], {icon: redIcon})
					.addTo(GGroups)
					.bindPopup("{{node.name}}")
			{% endif %}
		{% endfor %}
		var mymap = L.map('googleMap',{
			zoomControl: true, 
			center: [36.892011,-3.245017],
			zoom: 10,
			layers: [Spain_IGNBase,GProperties]
		});
		var baseMaps = {};
		var overlayMaps = {
			"Propiedades": GProperties,
			"Grupos": GGroups
		}
		L.control
			.layers(
				baseMaps, 
				overlayMaps,
				{
					collapsed: false,
					position: 'bottomright'
				}
			)
			.addTo(mymap);
	</script>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}