{% extends '::base.html.twig' %}

{% block title %}{{"Delete property?"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Delete property?"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
		<div class="row">
			{{ include('ManagementBundle:Partials:sidebar.html.twig') }}
			<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main">
			    <form method="post">
			    	{% trans %}
			    		<h2>Are you sure you want to delete the selected property?</h2>
			    		<p>Doing so is undoable and will convert related items to orphans in order to keep organizational data.</p>
			    	{% endtrans %}
			    	<input type="submit" value="{{ "Delete forever" }}" />
			    	<input type="hidden" name="confirmation_key" value="{{ confirmation_key }}" />
			    </form>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'management' }) }}"></script>
	<script src="{{ asset('bundles/management/js/edit.js') }}" type="text/javascript"></script>
{% endblock %}