{% extends '::base.html.twig' %}

{% block title %}{{"Edit property"|trans({},"management")}}{% endblock %}

{% block pageTitleText %}{{"Edit property"|trans({},"management")}}{% endblock %}

{% block body %}

	{{ parent() }}

    <div class="container">
	    <div class="action-buttons">
			<a href="{{ path('management_property_add') }}" class="btn btn-success btn-add">{{"New property"|trans({},"management")}}</a>
		</div>
	    {{ form_start(form) }}
			{{ form_errors(form) }}
			{{ include('ProducerBundle:Property:base_form.html.twig') }}
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/management/css/edit.css'
					'bundles/producer/css/property.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
	<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'property' }) }}"></script>
	<script src="{{ asset('bundles/producer/js/property.js') }}" type="text/javascript"></script>
	{% javascripts
        'bundles/management/js/edit.js'
        'bundles/app/js/forms.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}